.my-element {
    display: inline-block;
    margin: 0 0.5rem;
  
    animation: bounce; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 7s; /* don't forget to set a duration! */
  }

/* Use in logo */
.animate__animated.animate__bounce {
    --animate-duration: 2s;
  }
  
