
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
{% block body%}
    <h1>My Questions</h1>
    <form id="cuestionary" action="/handle_answers" method="POST" enctype="multipart/form-data">
    <ul>
        {% for q in questions %}
        
        <p>{{q.question_id}}) {{q.question}}</p>
        <input type="text" name="question_id" value={{q.question_id}} hidden>
        <ul>
        <input type="text" name="answer" placeholder={{ ph[q.question_id] }}>  
        </ul>
        {% endfor %}
        <p>
        <input type="submit">
        </p>
    
</form>
{% endblock %}