{% extends 'base.html' %}
{% block body%}
    <h1>My Questions</h1>
    <form action="/handle_answers" method="POST">
    <ul>
        {% for question in questions %}
        <li>
            <a href="/questions/{{ question.question_id }}">
                {{ question.question }} 
            </a>
        </li>
            <li>
            <input type="text" name="answer" placeholder="answer here">  
            <input type="hidden" name="question_id" value="{{ question.question_id }}">
    </li>
        {% endfor %}
        <li>
            <input type="text" name="wish" placeholder="I wish ">
        </li>
        <input type="submit">
    </ul>
</form>
{% endblock %}