
<html>
  <head>
  
    <link rel="stylesheet"
          href="/static/plantilla.css">
  </head>
  <body>

  <div class="login-page">
  <div class="form">
  
  <h1>Hello 
    Partner is waiting,</h1>


  
  <h2>Let's sign you up!</h2>

  <form action="/connecting" method="POST">
    <form class="register-form">
      <input type="text" name="email" placeholder="email">

      <input type="password" name="password" placeholder="password">
    
      <input type="text" name="name" placeholder="name">
  
      <input type="number" name="link_id" placeholder="link number">
    
      <input type="date" name="anniversary" placeholder="anniversary"> 
    

      <input type="submit">

    </form>
  </form>
  </div>
  </div>
</body>
  </html>
   