<!doctype html>
<html>
  <head>
  
  
    <link rel="stylesheet"
          href="/static/plantilla.css">

        </head>
        <body>

  <div class="login-page">
    <div class="form">
  
  <h1>Hello New User!</h1>
  
  <h2>Create an Account</h2>

  <form action="/users" method="POST">
    <form class="register-form">
    <input type="text" name="email" placeholder="email"/>

    <input type="password" name="password" placeholder="password"/>
    
    <input type="text" name="name" placeholder="name"/>

    <input type="date" name="anniversary" placeholder="anniversary">
    
    <input type="submit">
    
  
  </form>

    </form>
  </div>
</div>
</body>
</html>