<!doctype html>
<html>
  <head>
  
    <link rel="stylesheet"
          href="/static/plantilla.css"
  

  <div class="login-page">
  <div class="form">

<h1>Welcome!</h1>
<ul>
  <li><a href="/connecting">My Connection Link</a></li>
</ul>

<form action="/handle_login" method="POST">

  <input type="text" name="email" placeholder="email">

  <input type="password" name="password" placeholder="password"> 

  <input type="date" name="anniversary" placeholder="anniversary">

  <input type="submit">
 
  </form>
  </form>
  </div>
  </div>
</head>
  </html>