{% extends 'base.html'%}
{% block title %}My Forever{% endblock %}

    {% block body %}
    <h1>Welcome</h1>
    <ul>
    <li><a href="/users">View users</a></li>
    </ul>

    <h2>Create an Account</h2>
    <form action="/login" method="POST"></form>
      <p>
        Email <input type="text" name="email">
      </p>
      <p>
        Password <input type="password" name="password">
      </p>
      <p>
        Username <input type="text" name="name">
      </p>
      <p>
        <input type="submit"> 
      </p>
    </form>
{% endblock %}