{% extends "base.html" %}
{% block title %}All Answers{% endblock %}
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
{% block body %}
<h1>Partner Answers</h1> 
<h2>This is {{ partner.name.title() }} answers!!!</h2>

<a href="/answers_partner"></a>

<p class="message"><ul><a href="/welcome">Take me to My Forever</ul></a></p>

{% for answer in answers %}
    
<ul>{{ answer[1] }} </ul><ul>{{ answer[2].capitalize() }}<br></ul><br>



{% endfor %}

{% endblock body %}