HOMEPAGE HTML 
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet"
          href="/static/plantilla.css">
  
<div class="login-page">
  <div class="form">
    <h1>My Forever</h1>
  
  <h2>Choose your options:</h2>
      <p class="message">Already an User <a href="/login">Login</a></p>
      <p class="message">Not registered? <a href="/new-user">Create an account</a></p>
      <p class="message">Got a link? <a href="/connecting">Partner Account</a></p>
    </form>
  </div>
</div>
</head>
</html>

LOGIN EXTENDS 

{% extends 'base.html' %}
<!-- {% block title %}My Forever{% endblock %} -->

{% block body %}
<h1>Welcome!</h1>
<ul>
  <li><a href="/connecting">My Connection Link</a></li>
</ul>

<form action="/handle_login" method="POST">
  <p>Email<input type="text" name="email"> </p>
  <p>Password<input type="password" name="password"> </p>
  <p>Anniversary<input type="date" name="anniversary"> </p>
  <p><input type=submit> </p>
</form>


{% endblock %}

ANSWERS WORKING 

{% extends 'base.html' %}

{% block title %}{{ answer.answer }} - Details{% endblock %}

{% block body %}
<h1>Aqui ira un espacio de boton</h1>
<h2>{{ answer.answer_id }}</h2>
<block>
  {{ answer.answer }}
</block>

<img src="En llaves va a aparecer algo">
{% endblock %}

ALL_QUESTIONS.HTML
{% extends 'base.html' %}
{% block body%}
    <h1>My Questions</h1>
    <form action="/handle_answers" method="POST">
    <ul>
        {% for question in questions %}
        <li>
            <a href="/questions/{{ question.question_id }}">
                {{ question.question }} 
            </a>
        </li>
            <li>
            <label for="{{question.question_id}}" name="question">{{question.question}}</label>
            <input type="text" name="answer_to_{{question.question_id}}" name="answer"placeholder="answer here">  
    </li>
        {% endfor %}
        <li>
            <input type="text" name="wish" placeholder="I wish ">
        </li>
        <input type="submit">
    </ul>
</form>
{% endblock %}

SERVER.PY /handle_answers

