HOMEPAGE HTML 
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet"
          href="/static/plantilla.css">
  
<div class="login-page">
  <div class="form">
    <h1>My Forever</h1>
  
  <h2>Choose your options:</h2>
      <p class="message">Already an User <a href="/login">Login</a></p>
      <p class="message">Not registered? <a href="/new-user">Create an account</a></p>
      <p class="message">Got a link? <a href="/connecting">Partner Account</a></p>
    </form>
  </div>
</div>
</head>
</html>

LOGIN EXTENDS 

{% extends 'base.html' %}
<!-- {% block title %}My Forever{% endblock %} -->

{% block body %}
<h1>Welcome!</h1>
<ul>
  <li><a href="/connecting">My Connection Link</a></li>
</ul>

<form action="/handle_login" method="POST">
  <p>Email<input type="text" name="email"> </p>
  <p>Password<input type="password" name="password"> </p>
  <p>Anniversary<input type="date" name="anniversary"> </p>
  <p><input type=submit> </p>
</form>


{% endblock %}
