{% extends 'base.html' %}
{% block title %}My Forever{% endblock %}
{% block head %} 
<div class="mt-5 mb-5"></div>
<h3>{{ user.name.capitalize() }}</h3>

{% endblock %}
{% block body %}
<div class="card" style="width: 25em">
    <img src="https://placehold.it/100x100" alt="">
    <div class="card-body">
        <p class="card-text">
            <li>Here is your love link: {{ link.link_id }}</li>
            <li>My nickname: {{ user.nickname }}</li>
            <li>Anniversary Date: {{ link.anniversary }}</li>
            <li>Email: {{ user.email }}</li>
            <li>ID: {{ user.user_id }}</li>
        </p>
        <a href="/welcome" class="btn btn-primary">Home</a>
    </div>
</div>


 
{% endblock %}