{% extends 'base.html' %}
{% block title %}My Forever{% endblock %}

{% block body %}

<ol>
  <a href="/logout">Log Out</a>
</ol>
<ol>
  <a href="/wishes_partner">Partner Wishes</a>
</ol>
<ol>
  <a href="/answers_partner">Partner Answers</a>
</ol>
<ol>
  <a href="/tips">Tips</a>
</ol>

<h1>Welcome!</h1>

<ol>
  <h2>Navigation</h2>
</ol>
  <ol>
    <a href="/wish">Make a Wish</a>
  </ol>
  <ol>
    <a href="/wishes">My Wishes</a>
  </ol>
  <ol>
    <a href="/questions">My Questions</a>
  </ol>
  <ol>
    <a href="/show_answers">My Answers</a>
  </ol>

  <ol>
    <a href="/users/{{user.user_id}}">My Profile</a></li>
  </ol>
</ol>


  {% endblock %}